.article-card {
    margin: 20px;
    padding: 17px 10px 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.article-card-text {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Alibaba PuHuiTi 2.0", sans-serif;
    font-size: 20px;
}
