{% extends 'base.html' %}

<head>
    <title>Articles</title>
    <style>

    </style>
</head>
<body>
{% block content %}
    <p class="welcome">Click the title to download a PDF file :)</p>
{% for article in article_list %}

    <div class="card">
        <ul class="text">
            <li>Title: <a class="text" href="{{ article.get_absolute_url }}download">{{ article.title }}</a></li>
            <li>Created at: {{ article.created_at }}</li>
        </ul>
    </div>

{% endfor %}
{% endblock content %}
</body>
