{% extends 'base.html' %}
<!DOCTYPE html>


<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Home Page</title>
</head>


<body>
{% block header %}
   <div class="jumbotron">
       <h1>Welcome to Minecraft Redstone Document Hub!</h1>
   </div>
{% endblock header %}


{% block content %}
    
    <p class="welcome">This website hosts all the documents we have translated.</p>
    <a class="link" href="{% url 'articles:articles' %}">Articles</a>
    <div style="height: 50px;"></div> 
    <p class="welcome-title">Coming Soon:</p>
    <p class="welcome">Document Online Preview</p>
    <p class="welcome">Comment</p>

{% endblock content %}
</body>
</html>
